n8n-workflows/basic-ionos-chat.json
{
  "meta": {
    "instanceId": "fixed-ionos-chat-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        200
      ],
      "credentials": {
        "telegramApi": "telegram-credentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "message-filter",
      "name": "Message Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openai.inference.de-txl.ionos.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "meta-llama/llama-3.1-8b-instruct"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "You are a helpful AI assistant. Keep responses concise and helpful. If this is a sales conversation, focus on understanding customer needs."
                },
                {
                  "role": "user",
                  "content": "={{ $json.message.text }}"
                }
              ]
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ionos-ai-chat",
      "name": "IONOS AI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        200
      ],
      "credentials": {
        "httpHeaderAuth": "ionos-api-credentials"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.choices?.[0]?.message?.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "response-check",
      "name": "Response Check",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-ai-response",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        100
      ],
      "credentials": {
        "telegramApi": "telegram-credentials"
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Sorry, I'm having trouble processing your request right now. Please try again in a moment.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-error-response",
      "name": "Send Error Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": "telegram-credentials"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Filter": {
      "main": [
        [
          {
            "node": "IONOS AI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IONOS AI Chat": {
      "main": [
        [
          {
            "node": "Response Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Check": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}