n8n-workflows/sales-assistant.json
{
  "meta": {
    "instanceId": "sales-assistant-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "path": "sales-assistant",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Call Assistant Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ],
      "webhookId": "sales-assistant-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openai.inference.de-txl.ionos.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "meta-llama/llama-3.1-8b-instruct"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "You are an expert sales coach analyzing real-time call conversations. Provide specific, actionable coaching advice based on the conversation context. Focus on: 1) Identifying buying signals 2) Suggesting objection handling 3) Recommending next steps 4) Detecting pricing sensitivity. Keep responses under 100 words and actionable."
                },
                {
                  "role": "user",
                  "content": "Call Analysis Request:\nTranscript: {{ $json.body.transcript }}\nCall Duration: {{ $json.body.duration }}s\nCustomer Info: {{ $json.body.customerInfo }}\nCurrent Insights: {{ $json.body.currentInsights }}\n\nProvide real-time coaching advice:"
                }
              ]
            },
            {
              "name": "temperature",
              "value": 0.3
            },
            {
              "name": "max_tokens",
              "value": 200
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "analyze-conversation",
      "name": "Analyze Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": "ionos-api-credentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "quote-trigger",
              "leftValue": "={{ $('Analyze Conversation').item.json.choices[0].message.content }}",
              "rightValue": "quote|pricing|cost|price|budget",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "quote-detection",
      "name": "Quote Detection",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openai.inference.de-txl.ionos.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "meta-llama/llama-3.1-8b-instruct"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "system",
                  "content": "You are a professional quote generator. Based on the conversation context, generate a competitive quote with: 1) Service package recommendation (Starter $2,500/mo or Professional $7,500/mo) 2) Key value propositions 3) Implementation timeline 4) Next steps. Format as structured JSON with fields: package, price, features, timeline, nextSteps."
                },
                {
                  "role": "user",
                  "content": "Generate quote based on:\nTranscript: {{ $('Call Assistant Webhook').item.json.body.transcript }}\nCustomer Needs: {{ $('Call Assistant Webhook').item.json.body.customerInfo }}\nCall Duration: {{ $('Call Assistant Webhook').item.json.body.duration }}s"
                }
              ]
            },
            {
              "name": "temperature",
              "value": 0.2
            },
            {
              "name": "max_tokens",
              "value": 400
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "generate-quote",
      "name": "Generate Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        100
      ],
      "credentials": {
        "httpHeaderAuth": "ionos-api-credentials"
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"coaching\": \"{{ $('Analyze Conversation').item.json.choices[0].message.content }}\",\n  \"hasQuote\": true,\n  \"quote\": {{ $json.choices[0].message.content }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"callDuration\": {{ $('Call Assistant Webhook').item.json.body.duration }}\n}",
        "options": {}
      },
      "id": "quote-response",
      "name": "Quote Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"coaching\": \"{{ $('Analyze Conversation').item.json.choices[0].message.content }}\",\n  \"hasQuote\": false,\n  \"recommendations\": [\n    \"Continue building rapport\",\n    \"Ask discovery questions\",\n    \"Identify pain points\"\n  ],\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"callDuration\": {{ $('Call Assistant Webhook').item.json.body.duration }}\n}",
        "options": {}
      },
      "id": "coaching-response",
      "name": "Coaching Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    }
  ],
  "connections": {
    "Call Assistant Webhook": {
      "main": [
        [
          {
            "node": "Analyze Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Conversation": {
      "main": [
        [
          {
            "node": "Quote Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote Detection": {
      "main": [
        [
          {
            "node": "Generate Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coaching Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Quote": {
      "main": [
        [
          {
            "node": "Quote Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}